body {
    display: grid;

    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 7fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar content";

    margin: 0;
    padding: 0;
    height: 100vh;

}

.sidebar {
    display: flex;
    flex-direction: column;

    background-color: rgb(51, 132, 172);
    grid-area: sidebar;
}

.sidebar * {
    color: white;
}

.sidebar .menu,
.sidebar .settings,
.sidebar .dash-title {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    margin-bottom: 40px;
}

.sidebar img,
.sidebar a {
    align-self: center;
}

.header {
    background-color: white;
    grid-area: header;
}

.content {
    background-color: gray;
    grid-area: content;
}